.Backdrop{
    background:  rgba(0,0,0,0.5);
    height: 100vh;
    width: 100%;
   
   
}

.BackdropFixed{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.BackdropShow{
    display: block;
}

.BackdropHide{
    display: none;
}